[submodule "nitro"]
	path = nitro
	url = https://github.com/OffchainLabs/nitro/
	branch = v3.6.8
[submodule "nitro-contracts"]
	path = nitro-contracts
	url = https://github.com/OffchainLabs/nitro-contracts.git
	branch = develop
	fetchRecurseSubmodules = true
[submodule "token-bridge-contracts"]
	path = token-bridge-contracts
	url = https://github.com/OffchainLabs/token-bridge-contracts.git
	branch = develop
	fetchRecurseSubmodules = true