version: '3.9'

# Extra services:
# - Blockscout (under profile "blockscout")
# - Split nodes (under profile "split-nodes")
include:
  - blockscout/docker-compose.yaml
  - docker-compose-split-nodes.yaml

services:
  nitro:
    profiles: [single-node]
    image: "${NITRO_DOCKER_IMAGE_TAG}"
    ports:
      - "127.0.0.1:${NITRO_PORT}:${NITRO_PORT}"
      - "127.0.0.1:9642:9642"
    volumes:
      - "./chainConfig/rpc:/home/user/.arbitrum"
    command:
      - --conf.file=/home/user/.arbitrum/rpc-config.json
      - --node.feed.output.enable
      - --node.feed.output.port=9642

  das-server:
    image: "${NITRO_DOCKER_IMAGE_TAG}"
    entrypoint: [ "/bin/bash", "-c", "/das-server.sh ${USE_ANYTRUST}" ]
    volumes:
      - "./chainConfig/das-server:/home/user/.arbitrum"
      - "./shell-scripts/das-server.sh:/das-server.sh"
      - "./${DAS_LOCAL_STORAGE}:/home/user/das-data"
    ports:
      - "9876:9876"
      - "9877:9877"